.login-form-area {
	box-shadow: 0 7px 29px 0 rgba(100,100,111,.2);
	max-width: 490px;
	padding: 30px;
	margin: 90px auto;
}
.login-form-area form input {
	width: 100%;
	margin-bottom: 15px;
	height: 48px;
	padding: 0 15px;
	border: 1px solid #0b114a;
	border-radius: 5px;
}
.login-form-area h1 {
	text-align: center;
	padding: 10px;
}
.login-form-area .submit-button {
	background: #0b114a;
	width: 100% !important;
}
.submit-button {
	color: #fff;
	font-size: 20px;
}